{% extends 'base.html.twig' %}

{% block title %} Modifier mot de passe{% endblock %}

{% block content %}
    <h2>Modifier mon mot de passe</h2>
    <a href="{{ path('app_account') }}">Retourner à mon compte</a>
    <hr>
    {{ form(form) }}

{% endblock %}
