{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>préferences avant de passer la commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b>choisir mon adresse</b><br>
            <b>choisir mon transporteur</b>
        </div>
        <div class="col-md-6">
            <b>recap de ma commande</b><br>
            <b>Bouton pour payer</b>
        </div>
    </div>
{% endblock %}
